html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  >div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >main {
      flex-grow: 1;
    }
  }
}